.customers {
  padding-top: var(--section-pt-mobile);
  padding-bottom: var(--section-pb-mobile);
}
.customers__heading {
  font-family: var(--main-font-family);
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--logo-color);
  margin-bottom: 30px;
}
.customers__list {
  display: flex;
  flex-wrap: wrap;
}

.customers__item:nth-child(2n + 1) {
  margin-right: 30px;
}
.customers__item {
  margin-top: 30px;
}
.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid #2196f3;
  }
  &:hover .customers__icon,
  &:focus .customers__icon {
    fill: #2196f3;
  }
}
.customers__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .customers {
    padding-top: var(--section-pt-tablet);
    padding-bottom: var(--section-pb-tablet);
  }
  .customers__list {
    justify-content: space-between;
  }

  .customers__link {
    width: 226px;
  }
  .customers__item:nth-child(2n + 1) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .customers {
    padding-top: var(--section-pt-desktop);
    padding-bottom: var(--section-pb-desktop);
  }
  .customers__heading {
    font-family: var(--main-font-family);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
  .customers__item {
    margin-top: 0px;
  }
  .customers__link {
    width: 170px;
  }
}
