.footer .conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer {
  padding-top: var(--section-pt-mobile);
  padding-bottom: var(--section-pb-mobile);
  background-color: var(--background-hero-color);
}
.info-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-footer__link {
  display: block;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--blue-color);
  margin-bottom: 20px;
}

.logo-footer__span {
  color: var(--white-color);
}
.address__map-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-align: center;
}
.contakt-footer-box__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.contakt-footer-box__list {
  margin-top: 8px;
}
.contakt-footer-box__item:not(:last-child) {
  margin-bottom: 8px;
}
.footer-social {
  margin-top: 60px;
}
.footer-social__paragraf {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-social__list {
  display: flex;
}
.footer-social__item:not(:last-child) {
  margin-right: 10px;
}
.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background-color: var(--blue-color);
  }
  &:focus .social-footer__icon,
  &:hover .social-footer__icon {
    fill: var(--white-color);
  }
}
.footer-social__icon {
  fill: var(--white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.footer-form__description {
  font-family: var(--main-font-family);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-bottom: 20px;
}
.footer-form__input {
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  padding: 15px 16px;
  margin-bottom: 20px;
  color: var(--white-color);
  &::placeholder {
    font-family: var(--main-font-family);
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}
.footer-form__btn {
  display: flex;
  align-items: center;
  max-width: 200px;
  font-family: var(--main-font-family);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--blue-color);
  border-radius: 4px;
  padding: 10px 28px;
  cursor: pointer;
  transition: background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background-color: rgb(17, 102, 172);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
.footer-form__icon {
  fill: var(--white-color);
  margin-left: 10px;
}
@media screen and (min-width: 768px) {
  .footer .conteiner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }

  .footer-social {
    margin-top: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .info-footer {
    align-items: flex-start;
    padding-left: 0;
    margin-right: 70px;
  }
  .logo-footer__link {
    font-size: 26px;
    line-height: 1.2;
  }
  .footer-social {
    padding: 0;
  }
  .footer-form {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    max-width: 570px;
    padding: 0;
    margin: 0;
  }
  .footer-form__description {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .footer-form__input {
    display: flex;
    flex-direction: row;

    width: 358px;
  }
  .footer-social {
    margin-right: 93px;
  }
  .footer-form__input {
    margin-right: 12px;
  }
}
