.header .conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .header__burger {
    display: flex;
    align-items: center;
  }

  .header__burger {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    &:hover {
      fill: var(--blue-color);
      outline: none;
    }
  }

  .header__burger-icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 768px) {
  .header__burger {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 21px;
    border-bottom: 1px solid rgba(236, 236, 236, 1);
    background-color: var(--white-color);
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

/* .header .conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header {
  padding-top: 10px;
  padding-bottom: 10px;
}
.header__burger {
  display: flex;
  align-items: center;
}

.header__burger {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  &:hover {
    fill: var(--main-color);
    outline: none;
  }
}

.header__burger-icon {
  width: 40px;
  height: 40px;
} */
/* .header {
  padding-top: 25px;
  padding-bottom: 25px;
}
.header_portfolio {
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0px;
    top: 80px;
    border: 1px solid #ececec;
  }
}

.header .conteiner {
  display: flex;
  align-items: center;
}
 */
