.navigation {
  display: flex;
  align-items: center;
}
.menu__list {
  display: none;
}
.contact__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu__list {
    display: flex;
    margin-left: auto;
  }
  .menu__item {
    position: relative;
    list-style: none;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-color);
    & + & {
      margin-left: 50px;
    }
  }

  .menu__link {
    color: var(--main-color);
    transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--blue-color);
    }
  }
  .navigation__current {
    color: var(--blue-color);
    &::after {
      position: absolute;
      display: block;
      content: '';
      height: 4px;
      width: 100%;
      margin: 0 auto;
      margin-top: 28px;
      border-radius: 2px;
      background-color: var(--blue-color);
    }
  }
  .contact__list {
    display: block;
  }
  .contact__item {
    list-style: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    & a {
      color: var(--second-color);
    }
  }
  .contact__link {
    display: flex;
    align-items: center;
    transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--blue-color);
    }
    .contact__icon {
      fill: currentColor;
      margin-right: 10px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .menu__list {
    margin-left: 88px;
  }

  .contact__item {
    &:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }

  .contact__icon {
    width: 16px;
    height: 12px;
  }
}
